.screenplay {
  display: flex;
  padding: 6px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  flex-wrap: wrap;

  div[role="act"] {
    display: flex;
    padding: 0.5em;
  }

  div[role="actor"] {
    display: block;
    cursor: pointer;
    font-weight: 600;
    min-width: 5em;
    // padding-right: 1em;

    &:hover {
      text-decoration: underline dotted;
    }
  }

  div[role="avatar"] {
    display: block;
    cursor: pointer;
    width: 64px;
    height: 64px;
    margin: 8px;
    background-color: transparent;
    background-size: cover;
    border-radius: 50%;
    filter: grayscale(0.8);
    transition: 1s filter linear;
  }

  [aria-selected="true"] {
    >div[role="actor"] {
      color: #4b0f1b;
      text-decoration: underline dotted;
    }

    >div[role="avatar"] {
      filter: grayscale(0);
    }
  }

  div[role="text"] {
    display: block;
    cursor: pointer;
    border-radius: 5px;
    // margin-left: 2em;
    padding: 0.25em;

    &:hover {
      text-decoration: underline dashed;
    }

    &[aria-selected="true"] {
      // font-weight: 600;
      background-color: rgba(255, 255, 255, 0.25);
      color: #161680;
      text-decoration: underline dashed;

      // &>span {
      //   background-color: rgba(255, 255, 255, 0.25);
      // }
    }
  }
}

@media (min-width: 1200px) {
  .screenplay {
    font-size: 22px;
    flex-direction: column;

    div[role="text"] {
      margin-left: 1em;
    }
  }
}

// @media (min-width: 1600px) {
//   .screenplay {
//     flex-direction: row;

//     div[role="act"]:not(:last-child) {
//       margin-right: 4em;
//       margin-bottom: 1em;
//     }
//   }
// }
