.screenplay {
  display: flex;
  padding: 6px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  flex-wrap: wrap;

  div[role="act"] {
    display: flex;
    padding: 0.5em;
  }

  div[role="actor"] {
    display: block;
    cursor: pointer;
    font-weight: 600;
    min-width: 100px;

    &:hover {
      text-decoration: underline dotted;
    }
  }

  div[role="avatar"] {
    display: block;
    cursor: pointer;
    width: 64px;
    height: 64px;
    margin: 8px;
    background-color: transparent;
    background-size: cover;
    border-radius: 50%;
    filter: grayscale(0.8);
    transition: 1s filter linear;
  }

  [aria-selected="true"] {
    >div[role="actor"] {
      color: #4b0f1b;
      text-decoration: underline dotted;
    }

    >div[role="avatar"] {
      filter: grayscale(0);
    }
  }

  div[role="text"] {
    display: block;
    cursor: pointer;
    // margin-left: 2em;
    padding-bottom: 0.5em;

    &:hover {
      text-decoration: underline dashed;
    }

    &[aria-selected="true"] {
      // background-color: yellow;
      // font-weight: 600;
      color: #81142a;
      text-decoration: underline dashed;
    }
  }
}

@media (min-width: 1300px) {
  .screenplay {
    font-size: 22px;
    flex-direction: column;

    div[role="text"] {
      margin-left: 1em;
    }
  }
}
