<ng-template #templateError>
  <div>
    <mat-icon>sentiment_very_dissatisfied</mat-icon>
    {{errorMessage}}
  </div>
</ng-template>

<ng-template #templateLoading>
  <div *ngIf="!errorMessage; else templateError">Loading...</div>
</ng-template>

<div *ngIf="scene; else templateLoading">
  <h1>{{scene.name}}</h1>
  <div>
    <button mat-icon-button aria-label="previous stage" [disabled]="!hasPrevStage()" (click)="onPrevStage()">
      <mat-icon>navigate_before</mat-icon>
    </button>
    <span>Stage: {{stageIndex + 1}}</span>
    <button mat-icon-button aria-label="next stage" [disabled]="!hasNextStage()" (click)="onNextStage()">
      <mat-icon>navigate_next</mat-icon>
    </button>
  </div>
  <ng-container *ngIf="scene.play[stageIndex] as stage">
    <div style="padding: 1em;">
      <app-video-player #player [videoId]="stage.videoId" (currentTimeChange)="onVideoChange($event)">
      </app-video-player>
    </div>
    <app-screenplay [items]="stage.speech" [selection]="speechIndex" (selectionChange)="onLineChange($event)">
    </app-screenplay>
  </ng-container>
</div>
