.scene {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  background-color: transparent;
  background-image: url('../../assets/clouds.png');
  background-repeat: no-repeat;
  background-size: contain;

  // .scene-stage {
  //   padding: 0 1em 1em;
  // }

  .scene-prompt {
    padding: 1em 0;

    flex-grow: 1;

    max-height: 20.5em;
    overflow-y: auto;
  }

  .scene-spacer {
    flex-grow: 4;
    background-color: transparent;
    background-image: url('../../assets/rainbow.png');
    background-repeat: repeat-x;
  }
}

@media (min-width: 1200px) {
  .scene {
    // justify-content: space-between;
    flex-wrap: nowrap;

    .scene-prompt {
      max-height: calc(100vh - 2em);
    }
  }
}

@media (min-width: 1600px) {
  .scene {
    .scene-stage {
      padding-left: 1em;
    }

    .scene-prompt {
      margin-left: 1em;
    }
  }
}

@media (min-width: 1800px) {
  .scene {
    .scene-stage {
      padding-left: 2em;
    }

    .scene-prompt {
      margin-left: 2em;
    }
  }
}
