.scene {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  background-image: linear-gradient(rgba(220, 0, 220, 0.2), rgba(220, 0, 220, 0)), url('../../assets/clouds.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: top, right 320px top 100px;

  // .scene-stage {
  //   padding: 0 1em 1em;
  // }

  .scene-prompt {
    padding: 1em 0;

    max-height: 20.5em;
    overflow-y: auto;
  }
}

@media (min-width: 1200px) {
  .scene {
    // justify-content: space-between;
    flex-wrap: nowrap;

    .scene-prompt {
      max-height: calc(100vh - 2em);
    }
  }
}

@media (min-width: 1600px) {
  .scene {
    .scene-stage {
      padding-left: 1em;
    }

    .scene-prompt {
      margin-left: 1em;
    }
  }
}

@media (min-width: 1800px) {
  .scene {
    .scene-stage {
      padding-left: 2em;
    }

    .scene-prompt {
      margin-left: 2em;
    }
  }
}
