<ng-template #templateError>
  <div>
    <mat-icon>sentiment_very_dissatisfied</mat-icon>
    {{errorMessage}}
  </div>
</ng-template>

<ng-template #templateLoading>
  <div *ngIf="!errorMessage; else templateError">Loading...</div>
</ng-template>

<div *ngIf="scene; else templateLoading" class="scene">
  <ng-container *ngIf="scene.play[stageIndex] as stage">
    <div class="scene-stage">
      <div [ngStyle]="scene.styles">
        <!-- Scene header -->
        <div [ngStyle]="scene.header.styles">{{scene.header.label}}</div>
        <!-- Scene video -->
        <div [ngStyle]="scene.video.styles">
          <app-video-player #player [width]="scene.video.width" [height]="scene.video.height" [videoId]="stage.videoId"
            (currentTimeChange)="onVideoChange($event)">
          </app-video-player>
        </div>
        <!-- Scene footer -->
        <div [ngStyle]="scene.footer.styles">
          <button mat-icon-button aria-label="previous stage" [disabled]="!hasPrevStage()" (click)="onPrevStage()">
            <mat-icon>navigate_before</mat-icon>
          </button>
          <span>{{footer}}</span>
          <button mat-icon-button aria-label="next stage" [disabled]="!hasNextStage()" (click)="onNextStage()">
            <mat-icon>navigate_next</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <!-- Scene prompt -->
    <div class="scene-prompt" #prompt>
      <app-screenplay [items]="stage.speech" [selection]="speechIndex" [avatars]="scene.avatars" [viewport]="prompt"
        (selectionChange)="onLineChange($event)">
      </app-screenplay>
    </div>
  </ng-container>
</div>
